.bg-courses {
  background: #f0f2f5 !important;
}
.recommended a img.img-fluid {
  height: 190px;
  object-fit: cover;
  margin: auto;
  width: 100%;
  border-radius: 4px 4px 0px 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.recommended {
  cursor: pointer;
}

.recommended .inner-slider {
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-bottom: 5px;
}
.recommended .inner-slider .inner-wrapper {
  padding: 15px;
}

.inner-slider .seller-image {
  width: 48px;
  height: 48px;
  position: absolute;
  display: inline-flex;
  right: 15px;
  top: -24px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.inner-slider .seller-image img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border: 5px solid #fff;
}

.recommended .inner-slider .inner-wrapper .seller-name {
  display: flex;
  flex-flow: column;
  margin-left: 0px;
  line-height: 20px;
}

.recommended .inner-slider .inner-wrapper .seller-name a {
  color: #0e0e0f;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
}

.recommended .inner-slider .inner-wrapper .level-one-seller {
  color: #b2b2b2;
  font-weight: 300;
  font-size: 13px;
}
.tutor-text-avatar {
  background-color: #3a3ea0;
  color: #fff8e5;
}
.tutor-text-avatar {
  background-color: #d53aeb;
  color: #fff8e5;
}

.recommended .inner-slider .inner-wrapper h3 {
  font-size: 13px;
  color: #30302f !important;
  font-weight: 300;
  margin-top: 13px;
  cursor: pointer;
  padding: 0;
  line-height: 21px;
}
.recommended .inner-slider .inner-wrapper .content-info {
  padding: 12px 0 15px;
}

.recommended .inner-slider .inner-wrapper .content-info .gig-rating {
  display: flex;
  align-items: center;
  color: #fba423;
}
.recommended .inner-slider .inner-wrapper .content-info .gig-rating span {
  color: #b2b2b2;
  font-weight: 400;
  margin-left: 2px;
  font-size: 12px;
  margin: 0 0 0 3px;
}

.starting-date {
  // text-transform: uppercase;
  font-size: 12px;
}
.recommended .inner-slider .inner-wrapper .footer {
  display: flex;
  justify-content: end;
  border-top: 1px solid #eee;
  align-items: center;
  padding: 12px 15px;
  margin: 0px -15px -15px -15px;
}
.recommended .inner-slider .inner-wrapper .footer .fa {
  color: #b2b2b2;
}
.recommended .inner-slider .inner-wrapper .footer a {
  color: #555;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}

.recommended .inner-slider .inner-wrapper .footer .price {
  font-weight: bold;
}

// Chat notification numbers
.chat-numbers-notfication {
  font-size: 12px;
}

.navigation .nav-content ul li:not(.logo) {
  margin: 0px !important;
}

// mobile-responsive-for-blackcolor
.mobile-responsive-for-blackcolor {
  height: calc(100vh - 0px) !important;
}

@media (max-width: 767.98px) {
  .mobile-responsive-for-blackcolor {
    height: calc(100vh - 0px) !important;
  }
}

// Courses sections css start

.video-lecture {
  margin: 12px 0px 12px 5px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-bottom: 3px;
}

.course-about-content {
  padding: 12px 0px 12px 10px;
  // border-bottom: 1px solid #d1d7dc;
}

.course-about-content h1 {
  font-weight: 600;
  font-size: 28px;
}

.features-div {
  padding: 12px 0px 12px 10px;
  border-bottom: 1px solid #d1d7dc;
}

.ios-andriod-color {
  color: #401b9c;
  font-weight: bold;
}
.video-resources button::after {
  display: none !important;
}

.description-div {
  // padding: 12px 0px 12px 10px;
  border-bottom: 1px solid #d1d7dc;
}

.accordian-div {
  margin-top: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.accordian-div .card-body {
  padding: 10px !important;
}
.lectures-dropdown-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabActive .fa-chevron-down {
  transform: rotate(180deg);
  transition: all 1s;
}

.lectures-play .input-group-text {
  background-color: #fff;
  border: none;
}

.accordian-div .card-header {
  padding: 15px !important;
  border-bottom: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
}
.accordian-div .card {
  margin-bottom: 0px !important;
  padding-bottom: 10px;
}

.resources_btn::after {
  display: none !important;
}

.resources_btn {
  padding: 3px !important;
  background-color: #fff !important;
  border: 1px solid black !important;
}

.video-length p {
  font-size: 11px !important;
  line-height: 15px !important;
}

.accordian-div .card {
  cursor: pointer;
}
.border-bottom-dotted {
  border-bottom: 1px dotted #ddd !important;
  padding: 5px 10px !important;
}

// header notification
.notification_menu {
  right: 150px;
  top: 80% !important;
}

// Events Cards Css start
.Events-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.Events-cards .card {
  border: none;
}
.Events-cards .card .card-header {
  background: none;
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 50px;
}

.Events-cards .card .card-header.no-border {
  border: 0;
}

.Events-cards .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
}

.Events-cards .widget-49 .widget-49-title-wrapper {
  display: flex;
  align-items: center;
}

.Events-cards .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edf1fc;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-warning
  .widget-49-date-day {
  color: #4e73e5;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-date-warning
  .widget-49-date-month {
  color: #4e73e5;
  line-height: 1;
  font-size: 1rem;
  text-transform: uppercase;
}
.widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.widget-49
  .widget-49-title-wrapper
  .widget-49-meeting-info
  .widget-49-pro-title {
  color: #3c4142;
  font-size: 14px;
}

.widget-49
  .widget-49-title-wrapper
  .widget-49-meeting-info
  .widget-49-meeting-time {
  color: #b1bac5;
  font-size: 13px;
}
.widget-49 .widget-49-meeting-points {
  font-weight: 400;
  font-size: 13px;
  margin-top: 1rem;
}

.widget-49 .widget-49-meeting-points .widget-49-meeting-item {
  display: list-item;
  color: #727686;
}

.widget-49 .widget-49-meeting-action {
  text-align: right;
}
.widget-49 .widget-49-meeting-action a {
  text-transform: uppercase;
  background-color: #edf1fc;
}
button.btn.btn-sm.btn-flash {
  background-color: #edf1fc;
  text-transform: uppercase;
}

.Events-cards .event-img img {
  border-radius: 4px 4px 0px 0;
  height: 190px;
  object-fit: cover;
  margin: auto;
  width: 100%;
  background-position: center center;
}
.event_show_modal .modal-header {
  padding: 5px 1rem !important;
}
.event_show_modal .modal-body {
  padding: 2px 1rem !important;
}

.go-live-btn {
  border: 0;
  background: #d13f3f !important;
  border-radius: 4px;
  color: #fff !important;
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
}

.Events-cards .event-img img:hover {
  cursor: pointer;
}

.Events-cards .seller-image {
  width: 48px;
  height: 48px;
  position: absolute;
  display: inline-flex;
  right: 15px;
  top: -24px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.Events-cards .seller-image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #fff;
}

.widget-49-meeting-points i {
  color: #4e73e5;
}

// Courses form
.course-title-font {
  font-weight: 600;
  font-family: "Montserrat";
  padding-bottom: 10px;
  font-size: 13px;
}

.course-input {
  border-radius: 0px !important;
  border: 1px solid #1c1d1f !important;
  margin-bottom: 1.5rem !important;
}

span.chat_date {
  font-size: 11px;
  margin-right: 10px;
  color: #989898;
}

// Like btn-color and comment btn share button

i.text-white.feather-thumbs-up.text-dark.bgthwh.btn-round-sm.font-xs {
  background: #0e91f2 !important;
}
i.text-white.feather-message-circle.bgthwh.btn-round-sm.font-xs {
  background: #f2c54c !important;
}

input.commentInput.text-grey-500.fw-500.font-xssss.lh-4.pr-2 {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: inset 20px 20px 43px #eeeeee, inset -20px -20px 43px #ffffff;
  padding: 7px;
}
i.far.fa-share.text-grey-900.btn-round-sm.font-lg {
  background: #056cdb;
  color: #fff !important;
  font-size: 15px !important;
  margin-right: 5px;
}
